@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aguafina+Script" />
        <div class="container">
            <div class="login-container">
                <div class="login-container-img">
                    <h1>
                        OCP Group
                        <span>Fertilizer Analytics</span>
                    </h1>
                </div>
                <div class="login-container-content">
                    <form action="" class="login-form">
                        <button type="button" class="buttonX">X</button>
                        <h1>Login</h1>
                        <p class="field">
                            <label>Utilisateur/Email</label>
                            <input type="text" name="username" placeholder="user" />
                        </p>
                        <p class="field">
                            <label>Mot de passe</label>
                            <input type="password" name="password" placeholder="password" />
                            <a href="">oublier mot de passe?</a>
                        </p>
                        <button type="submit" class="submitBtn">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>
